<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApplication5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowsApplication5.Properties.Settings>
            <setting name="RxCom" serializeAs="String">
                <value />
            </setting>
            <setting name="TxCom" serializeAs="String">
                <value />
            </setting>
            <setting name="RxBr" serializeAs="String">
                <value />
            </setting>
            <setting name="TxBr" serializeAs="String">
                <value />
            </setting>
            <setting name="EndSequenz" serializeAs="String">
                <value />
            </setting>
        </WindowsApplication5.Properties.Settings>
    </userSettings>
</configuration>